
{{!-- titre  --}}
<div class="column is-2"> 
</div>

<div class="column has-text-centered">       
  <h3 class="title is-2 is-centered">Welcome to Zinvoices</h3>
</div>

<div class="column is-2"> 
</div>

      <div class="column is-2 is-desktop has-text-centered is-hidden-touch is-hidden-tablet-only "> </div>

{{!-- 5 boutons   --}}
  <div class="columns is-desktop has-text-centered is-multilign">

    <div class="column is-2 is-desktop has-text-centered is-hidden-mobile"> 
    </div>

      <a class="column has-background-link is-desktop has-text-centered " href="/quotations/1">
        <h2 class="is-size-4 has-text-white">Quotations</h2>
      </a>  

      <a class="column has-background-info is-desktop has-text-centered " href="/invoices">
        <h2 class="is-size-4 has-text-white">Invoices</h2>
      </a>  
    
      <a class="column has-background-success is-desktop has-text-centered " href="/delivery-forms"> 
        <h2 class="is-size-4 has-text-white">Delivery forms</h2>
      </a>

    <div class="column is-2 is-desktop has-text-centered is-hidden-mobile "> 
    </div>

  </div> 

      <div class="column is-hidden-mobile is-hidden-touch is-hidden-tablet-only "></div>
      <div class="column is-hidden-mobile is-hidden-touch is-hidden-tablet-only"></div>

  <div class="columns is-desktop has-text-centered">

    <div class="column is-3 is-desktop has-text-centered is-hidden-mobile "> 
    </div>

   <a class="column has-background-warning is-desktop has-text-centered " href="/customers">
      <h2 class="is-size-4 has-text-white">Customers</h2>
    </a>
  
        <a  class="column has-background-danger is-desktop has-text-centered "href="/products">
          <h2 class="is-size-4 has-text-white">Products</h2>
        </a> 

    <div class="column is-3 is-desktop has-text-centered is-hidden-mobile"> 
    </div>

  </div> 

        
</div>

    <div class="column is-hidden-mobile is-hidden-touch is-hidden-tablet-only "></div>
    <div class="column "></div>

  
<div class="columns has-text-centered is-mobile is-centered">

  <div  style="border-radius:3%" class='card equal-height'>
    <div class='card-content is-flex is-horizontal-center'>
      <figure class='image is-400x400'><img class ="image is-355x211 is-centered has-text-centered" src="/images/logo-zinvoices.png"></img></figure>
    </div>
  </div>
</div>
</div>