
<div class="column is-multiline is-centered ">
    <div class="column is-one-quarter"></div>
  
    <div class="column is-half ">
      <h1 class="title is-1">Welcome to Zinvoices</h1>
    </div>

    <div class="column is-one-quarter"></div>

  <div class="columns is-desktop is-multiline">

    <div class="column is-2"> 
    </div>

    <div class="column">
      <a class="button is-link is-focused" href="/quotations">
        <h2>Quotations</h2>
      </a>  
    </div>

    <div class="column">
      <a class="button is-info is-focused" href="/invoices">
        <h2>Invoices</h2>
      </a>  
    </div>
    
    <div class="column">
      <a class="button is-success is-focused" href="/delivryforms"> 
        <h2>Delivery forms</h2>
      </a>
    </div>
    
    <div class="column">  
      <a class="button is-warning is-focused" href="/customers">
        <h2>Customers</h2>
      </a>  
    </div>

      <div class="column">  
        <a class="button is-danger is-focused" href="/products">
          <h2>Products</h2>
        </a> 
    </div>

    <div class="column is-2"> 
    </div>

  </div> 
  
</div>
