<h1>Welcome to Zinvoices</h1>

<a class="button is-link is-focused" href="/quotations">
  <h2>Quotations</h2>
</a>
<br />

<a class="button is-info is-focused" href="/invoices">
  <h2>Invoices</h2>
</a>
<br />

<a class="button is-success is-focused" href="/delivryforms"> 
  <h2>Delivry forms</h2>
</a>
<br />

<a class="button is-warning is-focused" href="/customers">
  <h2>Customers</h2>
</a>
<br />

<a class="button is-danger is-focused" href="/products">
  <h2>Products</h2>
</a>
<br />