
{{!-- titre  --}}
<div class="column is-2"> 
</div>

<div class="column has-text-centered">       
  <h3 class="title is-2 is-centered">Welcome to Zinvoices</h3>
</div>

<div class="column is-2"> 
</div>

{{!-- 5 boutons   --}}
  <div class="columns is-desktop has-text-centered is-multilign">

    <div class="column is-2 is-desktop has-text-centered is-hidden-mobile"> 
    </div>

    <div class="column is-desktop has-text-centered ">
      <a class="button is-link is-focused is-large" href="/quotations/1">
        <h2>Quotations</h2>
      </a>  
    </div>

    <div class="column is-desktop has-text-centered ">
      <a class="button is-info is-focused is-large" href="/invoices">
        <h2>Invoices</h2>
      </a>  
    </div>
    
    <div class="column is-desktop has-text-centered ">
      <a class="button is-success is-focused is-large" href="/delivery-forms"> 
        <h2>Delivery forms</h2>
      </a>
    </div>

    <div class="column is-2 is-desktop has-text-centered is-hidden-mobile "> 
    </div>

  </div> 
  
  <div class="columns is-desktop has-text-centered">

    <div class="column is-2 is-desktop has-text-centered is-hidden-mobile "> 
    </div>

    
    <div class="column is-desktop has-text-centered ">  
      <a class="button is-warning is-focused is-large" href="/customers">
        <h2>Customers</h2>
      </a>  
    </div>

      <div class="column is-desktop has-text-centered ">  
        <a class="button is-danger is-focused is-large" href="/products">
          <h2>Products</h2>
        </a> 
    </div>

    <div class="column is-2 is-desktop has-text-centered is-hidden-mobile"> 
    </div>

  </div> 
  
</div>
