<div class="column is-multiline">
    <div class="column is-one-quarter"></div>
  
    <div class="column is-half ">
      <h1 class="title is-1">Quotations List</h1>
    </div>

    <div class="column is-one-quarter">
      <a class="button is-link is-focused" href="/">
        <h2>Dashboard</h2>
      </a>  
    </div>

  <div class="columns is-desktop">

    <div class="column is-2"> 
    </div>

    <div class="column">
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="Position">Quotation number</abbr></th>
            <th><abbr title="Position">Customer</abbr></th>
            <th><abbr title="Position">Amount</abbr></th>
            <th><abbr title="Position">Establishment date</abbr></th>
            <th><abbr title="Position">Accepted</abbr></th>
          </tr>
       </thead>
       <tbody>
         {{#each quotationsList}}
         <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
      </td>
         <tr>
            <td>colonne 1 : date de la facture</td>
            <td>colonne 2</td>
            <td>colonne 3</td>
            <td>colonne 4</td>
            <td>colonne 5</td>
        </tr>
        {{/each}}
           

    <div class="column is-2"> 
    </div>

  </div> 
  
</div>
