<div class="column">

  <div class="column">

    <div class="column is-one-quarter"></div>

    <div class="column is-half">
      <h1 class="title is-1 is-centered">New quotation</h1>
    </div>

    <div class="column is-2">
      <a class="button is-focused is-link is-centered" href="/quotations">
        <h2>Quotations'List</h2>
      </a>
    </div>

  </div>
</div>

<div class="column">
  <form action="/quotations/new" method="post">
    <label>
      Quotation number :
      <input type="text" name="quotationNumber" readonly value="{{number}}">
    </label>
    <br>
    <label>
      Date : 
      <input type="date" name="date">
    </label>

    <div class="column">
      <h2>Customer</h2>
    </div>

    <label>
      First Name :
      <input type="text" name="firstName">
    </label>
    <br>
    <label>
      Last Name :
      <input type="text" name="lastName">
    </label>
    <br>
    <label>
      Address :
      <input type="text" name="address1">
    </label>
    <br>
    <label>
      Address complement :
      <input type="text" name="address2">
    </label>
    <br>
    <label>
      ZIP Code :
      <input type="text" name="zipCode">
    </label>
    <br>
    <label>
      City :
      <input type="text" name="city">
    </label>
    <br>
    <label>
      Phone :
      <input type="text" name="phone">
    </label>
    <br>
    <label>
      Email :
      <input type="text" name="email">
    </label>
    <br>


  <div class="column"></div>

  <h2>Products</h2>

    <table class="table">

      <thead>
        <tr>
          <th>
            <abbr title="Position">Designation</abbr>
          </th>
          <th>
            <abbr title="Position">Quantity</abbr>
          </th>
          <th>
            <abbr title="Position">Unit Price</abbr>
          </th>
          <th>
            <abbr title="Position">TVA</abbr>
          </th>
          <th>
            <abbr title="Position">Total Price</abbr>
          </th>
          <th>
            <abbr title="Position"></abbr>
          </th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>
             <button id="addProductBtn" type="button" class="button is-danger is-link is-centered">Add a product</button>
          </th>
          <th>
            <abbr title="Position"></abbr>
          </th>
          <th>
            <abbr title="Position"></abbr>
          </th>
          <th>
            <abbr title="Position">Price Total</th>
          <th>
            <abbr title="Position">Calcul of total</abbr>
          </th>
          <th>
            <abbr title="Position"></abbr>
          </th>
        </tr>
      </tfoot>

      <tbody class="productsContainer">
          <tr>
            <td>
              <input type="text" name="designation">
            </td>
            <td>
              <input type="text" name="quantity">
            </td>
            <td>
              <input type="text" name="unitPrice">
            </td>
            <td>
              <input type="text" name="vatRate">
            </td>
            <td>
              <input type="text">
            </td>
            <td>
              <button type="button" class="button is-focused is-link is-centered">
                Delete
              </button>
            </td>
          </tr>
      </tbody>
    </table>
    <button id="submitBtn" type="submit" class="button is-focused is-link is-centered">Save</button>
  </form>

</div>

<script src="/javascripts/quotations/quotationNew.js"></script>

{{!-- <a class="button is-warning has-text-white-bis is-link is-centered" href="/customers">
  <h2>Customers'List</h2>
</a> --}}