{{!-- titre  --}}
<div class="column is-2"> 
</div>

<div class="columns"> 

  <div class="column is-2"> 
  </div>

  <div class="column has-text-right">       
    <h3 class="title is-2 is-centered">Quotation N°</h3>
  </div>

  <div class="column has-text-centered">
  <input class="input is-large" type="text" name="quotationNumber" readonly value="{{number}}">
  </div>

  <div class="column is-2"> 
  </div>
</div>

<div class="columns"> 

  <div class="column is-2"> 
  </div>

  <div class="column has-text-right">       
   <h3 class="title is-2 is-centered">Date</h3>
  </div>

  
  <div class="column has-text-centered">
    <input  class="input is-large" type="date" name="date"></h3>
  </div>

  <div class="column is-2"> 
  </div>
</div>

<div class="column is-2"> 
</div>
{{!-- colonnes   --}}
<div class="columns">
  <div class="column is-1 is-hidden-mobile"> 
  </div>
{{!-- box   --}}
  <div class="column">  
     <div class="box">
       <form action="/quotations/new" method="post">

          <div class="columns">

            <div class="column is-1 is-hidden-mobile"></div>
            
            <div class="column is-2">
                <ul>
                <li>First Name</li>
                  <li>LastName</li>
                  </ul>
                <br/>
                <ul>
                  <li>Address</li>
                  <li>Address'details</li>
                  <li>Zip Code</li>
                  <li>City</li>
                </ul>
            </div>
            <div class="column">
                  <ul>
                  <li class="is-hoverable"><input type="text" name="firstName"></li>
                  <li class="is-hoverable"><input type="text" name="lastName"></li>
                  </ul>
                <br/>
                <ul>
                  <li class="is-hoverable"><input type="text" name="address1"></li>
                  <li class="is-hoverable"><input type="text" name="address2"></li> 
                  <li class="is-hoverable"><input type="text" name="zipCode"></li>
                  <li class="is-hoverable"><input type="text" name="city"></li>
                </ul>
            </div>

            <div class="column is-2">
                <ul>
                  <li>Phone</li>
                  <li>Email</li>
                </ul>
                 <br/>
                <ul>
                  <li>Quotation number</li>
                  <li>Date</li>
                  </ul>
                
            </div>

            <div class="column">
                <ul>
                  <li class="is-hoverable"><input type="text" name="phone"></li>
                  <li class="is-hoverable"><input type="text" name="email"></li>
                </ul>
                  <br/>
                <ul>
                  <li class="is-hoverable" ><input type="text" name="quotationNumber" readonly value="{{number}}"></li>
                  <li class="is-hoverable"><input  type="date" name="date"></li>
                  </ul>
            </div>
            
            <div class="column is-2 is-hidden-mobile has-text-centered"><a class="button is-succes is-inverted is-small">Save</a></div>
           
            <div class="column is-1 is-hidden-mobile"></div>
        </div>
      
    <div class="columns">
       <div class="column is-1 is-hidden-mobile"></div>
       <div class="column"><button type="button" class="button addProductBtn is-success is-link is-centered is-small">Add a product</button>
       </div>
       <div class="column is-1 is-hidden-mobile"></div>
    </div>

    <div class="columns">
       <div class="column is-1 is-hidden-mobile"></div>

        <div class="column has-text-centered">
          <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th><abbr title="Position">Designation</abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"><p class="has-text-centered">Quantity</p></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position "><p class="has-text-centered">Unit Price</p></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"><p class="has-text-centered">TVA</p></abbr></th>
                <th><abbr title="Position"><p class="has-text-right">Total Price</p></abbr></th>
                <th  class="is-hidden-mobile"><abbr title="Position"></abbr></th>
              </tr>
            </thead>
            <tbody class="productsContainer">
                <tr>
                  <td><input type="text" name="designation"></td>
                  <td class="is-hidden-mobile"><p class="has-text-centered"><input type="text" name="quantity"></p></td>
                  <td class="is-hidden-mobile"><p class="has-text-centered"><input type="text" name="unitPrice" placeholder="€"></p></td>
                  <td class="is-hidden-mobile"><p class="has-text-centered"><input type="text" name="vatRate" placeholder="%"></p></td>
                  <td><p class="has-text-right"><input type="text" placeholder="€"></p></td>
                  <td class="is-hidden-mobile"><button type="button" class="button is-focused is-link is-centered is-small">Delete</button></td>
                </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th class="is-hidden-mobile"><abbr title="Position"></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"><p class="has-text-centered">Price Total</p></th>
                <th><abbr title="Position"><p class="has-text-right">{{quotation.total}}€</p></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"></abbr></th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="column is-1 is-hidden-mobile"></div>
      </div>

    <div class="columns">
       <div class="column is-1 is-hidden-mobile"></div>
       <div class="column"><button type="button" class="button addProductBtn is-success is-link is-centered is-small">Add a product</button>
       </div>
       <div class="column is-1 is-hidden-mobile"></div>
    </div>

<div class="columns">
       <div class="column is-1 is-hidden-mobile"></div>
       <div class="column has-text-centered">
        <button id="submitBtn" type="submit" class="button is-focused is-link is-centered">Save</button>
       </div>
       <div class="column is-1 is-hidden-mobile"></div>
 </div>


{{!-- colonnes   --}}
  <div class="column is-1 is-hidden-mobile"></div>
</div>

{{!-- boutons   --}}


<script src="/javascripts/quotations/quotationNew.js"></script>

{{!-- <a class="button is-warning has-text-white-bis is-link is-centered" href="/customers">
  <h2>Customers'List</h2>
</a> --}}
