<object data="/output.pdf" type="application/pdf" style="width: 50vw; height: 80vh; margin: 0 auto; display: block;"></object>
<div class="column has-text-centered">
  <a class="button {{navColor}} is-centered is-outlined " href="/quotations/1">
    Return to list
  </a>
</div>