<div class="column">

  <div class="column">

    <div class="column is-one-quarter"></div>

    <div class="column is-half">
      <h1 class="title is-1 is-centered">Quotation N°{{DATE / NBRE}}</h1>
    </div>

    <div class="column is-2">
      <a class="button is-focused is-link is-centered" href="/quotations">
          <h2>Quotations'List</h2>
        </a> 
    </div>
    
    <div class="column is-2">
      <a class="button is-primary is-link is-centered" href="/">
          <h2>Dashboard</h2>
      </a> 
    </div>

  </div>
</div>
  
<div class="column"> 
  <div class="column"> 
    <h2>Customer</h2>
  </div>

  <table class="table">
    <tbody>
        <tr>
            <td><h2>Name ot your company</h2></td>
            <td></td>
            <td><h2>Name ot your customer</h2></td>
            <td></td>
        </tr>
        <tr>
            <td>Details</td>
            <td></td>
            <td>Details</td>
            <td></td>
        </tr>
         <tr>
            <td>Address 1</td>
            <td></td>
            <td>Address 1</td>
            <td></td>
        </tr>
        <tr>
          <td>Zip Code</td>
          <td></td>
          <td>Zip Code</td>
          <td></td>
        </tr>
        <tr>
          <td>City</td>
          <td></td>
          <td>City</td>
          <td></td>
        </tr>
        <tr>
          <td>Details</td>
          <td></td>
          <td>Details</td>
          <td></td>
        </tr>
      </tbody>
  </table>

  <a class="button is-warning is-link is-centered">Update</a>
</div>


  <h2>Products</h2>

    <table class="table">

      <thead>
        <tr>
          <th><abbr title="Position">Designation</abbr></th>
          <th><abbr title="Position">Quantity</abbr></th>
          <th><abbr title="Position">Unit Price</abbr></th>
          <th><abbr title="Position">TVA</abbr></th>
          <th><abbr title="Position">Total Price</abbr></th>
          <th><abbr title="Position"></abbr></th>
        </tr>
      </thead>

    <tfoot>
        <tr>
          <th><abbr title="Position"></abbr></th>
          <th><abbr title="Position"></abbr></th>
          <th><abbr title="Position"></abbr></th>
          <th><abbr title="Position">Price Total></th>
          <th><abbr title="Position">Calcul of total</abbr></th>
          <th><abbr title="Position"></abbr></th>
        </tr>
      </tfoot>

      <tbody>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a class="button is-focused is-link is-centered">
                Delete               
              </a>
            </td>
        </tr>
      </tbody>
     </table>
  </div>

    <a class="button is-danger is-link is-centered">
     <h2>Add a product</h2>
    </a> 

    <a class="button is-focused is-link is-centered" href="/quotations/view">
      <h2>View pdf</h2>
    </a> 

    <a class="button is-focused is-link is-centered" href="/quotations/view">
      <h2>View pdf</h2>
    </a> 