<form action="/invoices/new" method="post">

<div class="column is-2 is-hidden-mobile"> 
</div>
{{!-- titre  --}}
<div class="column is-2"> 
</div>

<div class="columns"> 

  <div class="column is-2 is-hidden-mobile"> 
  </div>

  <div class="column has-text-right is-hidden-mobile">       
    <h3 class="title is-2 is-centered">Invoice N°</h3>
  </div>

  <div class="column has-text-centered">
  <input class="input is-large" type="text" name="invoiceNumber" readonly value="{{number}}">
  </div>

  <div class="column is-2 is-hidden-mobile"> 
  </div>
</div>

<div class="columns"> 

  <div class="column is-2 is-hidden-mobile"> 
  </div>

  <div class="column has-text-right is-hidden-mobile">       
   <h3 class="title is-2 is-centered">Date</h3>
  </div>

  
  <div class="column has-text-centered">
    <input  class="input is-large" type="date" name="date"></h3>
  </div>

  <div class="column is-2 is-hidden-mobile"> 
  </div>
</div>

<div class="column is-2 is-hidden-mobile"> 
</div>
{{!-- colonnes   --}}
<div class="columns">
  <div class="column is-1 is-hidden-mobile"> 
  </div>
{{!-- box   --}}
  <div class="column">  
     <div class="box">

  <div class="column is-hidden-mobile"></div> 

    <div class="columns">
       <div class="column is-1 is-hidden-mobile"></div>
       <div class="column"><a class="button is-success is-centered is-small" href="/customers/">Find a customer</a>
       </div>
       <div class="column is-1 is-hidden-mobile"></div>
    </div>

     {{!-- infos customer  --}}
          <div class="columns is-paddingless is-marginless">

            <div class="column is-paddingless is-marginless is-1 is-hidden-mobile"></div>
            
            <div class="column is-paddingless is-marginless has-text-centered">First Name</div>
            <div class="column is-paddingless is-marginless"><input class="input is-fullwidth is-small" type="text" name="firstName"></div>
            <div class="column is-paddingless is-marginless has-text-centered">Address</div>
            <div class="column is-paddingless is-marginless"><input class="input is-fullwidth is-small" type="text" name="address1"></div>

            <div class="column is-2 is-hidden-mobile"></div>
          </div>


          <div class="columns is-paddingless is-marginless">

            <div class="column is-paddingless is-marginless is-1 is-hidden-mobile"></div>
            
            <div class="column is-paddingless is-marginless has-text-centered">LastName</div>
            <div class="column is-paddingless is-marginless"><input class="input is-fullwidth is-small" type="text" name="lastName"></div>
            <div class="column is-paddingless is-marginless has-text-centered">Address'details</div>
            <div class="column is-paddingless is-marginless"><input class="input is-fullwidth is-small" type="text" name="address2"></div>

            <div class="column is-2 is-hidden-mobile"></div>
          </div>

          <br />

          <div class="columns is-paddingless is-marginless">

            <div class="column is-paddingless is-marginless is-1 is-hidden-mobile"></div>
            
            <div class="column is-paddingless is-marginless has-text-centered">Phone</div>
            <div class="column is-paddingless is-marginless"><input class="input is-fullwidth is-small" type="text" name="phone"></div>
            <div class="column is-paddingless is-marginless has-text-centered">Zip Code</div>
            <div class="column is-paddingless is-marginless"><input class="input is-fullwidth is-small" type="text" name="zipCode"></div>

            <div class="column is-2 is-hidden-mobile"></div>
          </div>

          <div class="columns is-paddingless is-marginless">

            <div class="column is-paddingless is-marginless is-1 is-hidden-mobile"></div>
            
            <div class="column is-paddingless is-marginless has-text-centered">Email</div>
            <div class="column is-paddingless is-marginless"><input class="input is-fullwidth is-small" type="text" name="email"></div>
            <div class="column is-paddingless is-marginless has-text-centered">City</div>
            <div class="column is-paddingless is-marginless"><input class="input is-fullwidth is-small" type="text" name="city"></div>

            <div class="column is-2 is-hidden-mobile"></div>
          </div>


     <div class="column is-1"></div>

{{!-- tableau  --}}

    <div class="columns">
       <div class="column is-1 is-hidden-mobile"></div>
       <div class="column"><button type="button" class="button addProductBtn is-success is-centered is-small">Add a product</button>
       </div>
       <div class="column is-1 is-hidden-mobile"></div>
    </div>

    <div class="columns">
       <div class="column is-1 is-hidden-mobile"></div>

        <div class="column has-text-centered">
          <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th><abbr title="Position">Designation</abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"><p class="has-text-centered">Quantity</p></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position "><p class="has-text-centered">Unit Price</p><p class="has-text-centered">(without tax)</p></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"><p class="has-text-centered">VAT rate</p></abbr></th>
                <th><abbr title="Position"><p class="has-text-right">Total Price</p></abbr></th>
                <th  class="is-hidden-mobile"><abbr title="Position"></abbr></th>
              </tr>
            </thead>
            <tbody class="productsContainer">
                <tr class="product">
                  <td>
                    <input class="input is-fullwidth is-small" type="text" name="designation">
                  </td>
                  <td class="is-hidden-mobile">
                      <input type="text" name="quantity" class="initFields input is-fullwidth is-small">
                  </td>
                  <td class="is-hidden-mobile">
                    <input type="text" name="unitPriceWT" class="initFields input is-fullwidth is-small" placeholder="€">
                  </td>
                  <td class="is-hidden-mobile">
                    <input type="text" name="vatRate" class="initFields input is-fullwidth is-small" placeholder="%">
                  </td>
                  <td>
                    <input class="input is-fullwidth is-small" type="text" placeholder="€" readonly >
                  </td>
                  <td class="is-hidden-mobile">
                    <button type="button" class="button is-focused is-link is-centered is-small deleteBtn">Delete</button>
                  </td>
                </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th class="is-hidden-mobile"><abbr title="Position"></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"><p class="has-text-centered">Invoice Total</p></th>
                <th><abbr title="Position"><p id="invoiceTotal" class="has-text-right">0.00€</p></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"></abbr></th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="column is-1 is-hidden-mobile"></div>
      </div>

    <div class="columns">
       <div class="column is-1 is-hidden-mobile"></div>
       <div class="column"><button type="button" class="button addProductBtn is-success is-centered is-small">Add a product</button>
       </div>
       <div class="column is-1 is-hidden-mobile"></div>
    </div>

<div class="columns">
       <div class="column is-1 is-hidden-mobile"></div>
       <div class="column has-text-centered">
        <button id="submitBtn" type="submit" class="button {{navColor}} is-centered">Save</button>
       </div>
       <div class="column is-1 is-hidden-mobile"></div>
 </div>

 </form>
{{!-- colonnes   --}}
  <div class="column is-1 is-hidden-mobile"></div>
</div>

{{!-- boutons   --}}


<script src="/javascripts/invoices/invoiceNew.js"></script>

{{!-- <a class="button is-warning has-text-white-bis is-link is-centered" href="/customers">
  <h2>Customers'List</h2>
</a> --}}
