<form action="/products/new" method="post">

<div class="column is-2 is-hidden-mobile"> 
</div>
{{!-- titre  --}}
<div class="column is-2"> 
</div>

<div class="columns"> 

  <div class="column is-2 is-hidden-mobile"> 
  </div>

  <div class="column has-text-right is-hidden-mobile">       
    <h3 class="title is-2 is-centered">New product </h3>
  </div>

  <div class="column has-text-centered">
  <input class="input is-large" type="text" name="productName">
  </div>

  <div class="column is-2 is-hidden-mobile"> 
  </div>
</div>

<div class="columns"> 

  <div class="column is-2 is-hidden-mobile"> 
  </div>

  <div class="column has-text-right is-hidden-mobile">       
   <h3 class="title is-2 is-centered">Date</h3>
  </div>

  
  <div class="column has-text-centered">
    <input  class="input is-large" type="date" name="date"></h3>
  </div>

  <div class="column is-2 is-hidden-mobile"> 
  </div>
</div>

<div class="column is-2 is-hidden-mobile"> 
</div>
{{!-- colonnes   --}}
<div class="columns">
  <div class="column is-1 is-hidden-mobile"> 
  </div>
{{!-- box   --}}
  <div class="column">  
     <div class="box">

  <div class="column is-hidden-mobile"></div> 


     {{!-- infos customer  --}}
 

          <div class="columns is-paddingless is-marginless">

            <div class="column is-paddingless is-marginless is-1 is-hidden-mobile"></div>
            
            <div class="column is-paddingless is-marginless has-text-centered">Designation</div>
            <div class="column is-paddingless is-marginless"><input class="input is-fullwidth is-small" type="text" name="designation"></div>
            
            <div class="column is-2 is-hidden-mobile"></div>
          </div>

          <br />

          <div class="columns is-paddingless is-marginless">

            <div class="column is-paddingless is-marginless is-1 is-hidden-mobile"></div>
            
            <div class="column is-paddingless is-marginless has-text-centered">Unit price</div>
            <div class="column is-paddingless is-marginless"><input class="input is-fullwidth is-small" type="text" name="unitPriceWT"></div>
            
            <div class="column is-2 is-hidden-mobile"></div>
          </div>

          <br />

          <div class="columns is-paddingless is-marginless">

            <div class="column is-paddingless is-marginless is-1 is-hidden-mobile"></div>
            
            <div class="column is-paddingless is-marginless has-text-centered"> VAT rate</div>
            <div class="column is-paddingless is-marginless"><input class="input is-fullwidth is-small" type="text" name="vatRate"></div>
            
            <div class="column is-2 is-hidden-mobile"></div>
          </div>

    
     <div class="column is-1"></div>

{{!-- boutons   --}}

<div class="columns">
       <div class="column is-1 is-hidden-mobile"></div>
       <div class="column has-text-centered">
        <button id="submitBtn" type="submit" class="button {{navColor}} is-centered">Save</button>
       </div>
       <div class="column is-1 is-hidden-mobile"></div>
 </div>


 </form>
{{!-- colonnes   --}}
</div>

<div class="column has-text-centered"> 
          <a  class="button {{navColor}} is-centered is-outlined " href="/products/">
            Return to list
          </a>    
          </div>


<script src="/javascripts/products/quotationNew.js"></script>

{{!-- <a class="button is-warning has-text-white-bis is-link is-centered" href="/customers">
  <h2>Customers'List</h2>
</a> --}}
